body{
    width:70%;margin-left:15%;
}
header{
    text-align:center;
    border-top:10px solid #688cd8;
    border-bottom:10px solid #688CD8;
    background-color:#E8EFF7;
}
#adresse{
    text-align:left;
    font-family:monospace;
}
header img{
    float:right;width:15%;
}
article{
    border-top:10px solid #688cd8;
    border-bottom:10px solid #688CD8;
    margin-top:30pt;
}
article h1{
    color:#385CA8;
    font-variant:small-caps;
    padding:10px;    
}
span.annee{
    font-weight:bold;
    display:block;float:left;
    width:100px;
}
dt{
    font-weight:bold;
}
footer{
    font-size:xx-small;
    font-variant:small-caps;
    text-align:center;
    border-top:1px solid #688cd8;
    border-bottom:1px solid #688cd8;
    margin-top:4em;
}
@media (orientation:portrait){
    article{
        border-top:10px solid #ff5733;
        border-bottom:10px solid #e6d794;
    }
    footer{
        border-top:1px solid #ff5733;
        border-bottom:1px solid #e6d794;
    }
    header{
        border-top:10px solid #ff5733;
        border-bottom:10px solid #e6d794;
    }    
}